body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #4de275;
    text-align: center;
    padding: 10px 0;
}

/* các thành phần trong navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.nav-logo {
    font-size: 24px;
    color: #fff;
    margin-right:20px;
}

/* các thành phần thanh tìm kiếm */
.searchbox-container {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 500px;
    margin: 10px 0;
}

/* ô tìm kiếm*/
.searchbox-container input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

/* icon tìm kiếm */
.icon {
    position: absolute;
    right: 10px;
}

/* chức năng người dùng (login, signup, thông báo) */
.user-container {
    display: flex;
    align-items: center;
}

.user-container button {
    margin-left: 5px;
    border: none;
    background-color: white;
    font-size: medium;
    padding: 8px 12px;
    cursor: pointer;
}

.user-container button:hover {
    background-color: #2dc3cc;
}

/* Responsive cho mobile */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        align-items: center;
    }

    .nav-logo {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .searchbox-container input {
        width: 100%;
        max-width: none;
        display: none;
    }

    .user-container {
        justify-content: center;
        margin-top: 10px;
    }

    .icon {
        position: absolute;
        right: 50px;
        top: -13px;
    }
}



/* Nút tối sáng */
.switch {
    margin:10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
   }
   
   /* Hide default HTML checkbox */
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider-navbar {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider-navbar:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider-navbar {
    background-color: #494b49;
    border: 1px solid transparent;
   }
   
   input:checked + .slider-navbar:before {
    transform: translateX(1.5em);
   }