body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.darktheme{
    background-color: #313131;
    color:#f2f2f2;
}
.whitetheme{
    background-color: #f2f2f2;
    color:black;
}